<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vote</title>
</head>
<body>
<form action="" method="get">
    <h2 id="voteTitle"></h2><br /><br />
    <label><input name="Fruit" type="radio" value="" />苹果 </label>
    <label><input name="Fruit" type="radio" value="" />桃子 </label>
    <label><input name="Fruit" type="radio" value="" />香蕉 </label>
    <label><input name="Fruit" type="radio" value="" />梨 </label>
    <label><input name="Fruit" type="radio" value="" />其它 </label>
</form>
</body>
</html>